.list-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-top: 0;
}
.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cat-item {
    border-radius: 8px;
    padding: 16px;
    width: 392px;
    background: #f6f6fe;
}
.category-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    

} .list-2:last-child{
    padding-bottom: 0;
}
.cat-list-item {
border: 1px solid #808080;
border-radius: 4px;
width: 360px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
padding: 6px 15px;
margin: 0;
}
